{% extends "base.html" %}

{% block title %}Каталог Аніме{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<section class="catalog">
    <div class="filters">
        <form method="POST" action="/catalog">
            <select name="sort_option">
                <option value="SCORE_DESC" {% if sort_option==
                'SCORE_DESC' %}selected{% endif %}>По рейтингу</option>
                <option value="POPULARITY_DESC" {% if sort_option==
                'POPULARITY_DESC' %}selected{% endif %}>По популярності</option>
            </select>
            <button type="submit">Застосувати</button>
        </form>
        <div class="filter">
            <label for="year">Рік</label>
            <input type="range" id="year" name="year" min="1940" max="2025" value="2025" step="1"
                   oninput="document.getElementById('yearValue').textContent = this.value">
            <span id="yearValue">2025</span>
        </div>

        <div class="filter">
            <label for="genre">Жанр</label>
            <button id="genreBtn" class="dropdown-btn">Виберіть жанр</button>
            <div id="genreMenu" class="dropdown-content">
            </div>
        </div>

        <div class="filter">
            <label for=tag>Теги</label>
            <button id="tagBtn" class="dropdown-btn">Виберіть теги</button>
            <div id="tagMenu" class="dropdown-content">
            </div>
        </div>

        <div class="filter">
            <label for="format">Формат</label>
            <button id="formatBtn" class="dropdown-btn">Виберіть формат</button>
            <div id="formatMenu" class="dropdown-content">
                <label><input type="radio" class="format" name="format" value="tv"> ТВ-серіал</label>
                <label><input type="radio" class="format" name="format" value="movie"> Фільм</label>
                <label><input type="radio" class="format" name="format" value="ova"> OVA</label>
                <label><input type="radio" class="format" name="format" value="special"> Спеціальний</label>
                <!-- Додайте інші формати за потреби -->
            </div>
        </div>
    </div>
    <div class="anime-list">
        {% for anime in anime_list %}
        <div class="card-wrapper">
            <div class="card">
                <img src="{{ anime.coverImage.large }}" alt="{{ anime.title.romaji }}">
                <div class="card-content">
                    <h3>{{ anime.title.romaji }}</h3>
                </div>
            </div>
            <div class="menu">
                <div class="info">
                    <p>Episodes: {{ anime.episodes }}</p>
                    <p>{{ anime.studio }}</p>
                </div>
                <div class="tags">
                    <span class="tag">{{ anime.genres[0] }}</span>
                    <span class="tag">{{ anime.genres[1] }}</span>
                    {% if anime.genres[2] %}
                    <span class="tag">{{ anime.genres[2] }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/catalog.js') }}"></script>
<script src="{{ url_for('static', filename='js/genre.js') }}"></script>
<script src="{{ url_for('static', filename='js/tags.js') }}"></script>
{% endblock %}