{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
<div class="main">
    <div class="content">
        <a href="{{ url_for('popular') }}"><h3 class="section-title">Популярні Аніме Сезону</h3></a>
        <div class="anime-list">
            {% for trending in trending_list %}
            <div class="card-wrapper">
                <div class="card">
                    <img src="{{ trending.coverImage.large }}" alt="{{ trending.title.romaji }}">
                    <div class="card-content">
                        <h3>{{ trending.title.romaji }}</h3>
                    </div>
                </div>
                <div class="menu">
                    <div class="info">
                        <p>Episodes: {{ trending.episodes }}</p>
                        <p>{{ trending.studio }}</p>
                    </div>
                    <div class="tags">
                        <span class="tag">{{ trending.genres[0] }}</span>
                        <span class="tag">{{ trending.genres[1] }}</span>
                        {% if trending.genres[2] %}
                            <span class="tag">{{ trending.genres[2] }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

<div class="main">
    <div class="content">
        <a href="{{ url_for('popular') }}"><h3 class="section-title">Популярні Аніме</h3></a>
        <div class="anime-list">
            {% for popular in popular_list %}
            <div class="card">
                <img src="{{ popular.coverImage.large }}" alt="{{ popular.title.romaji }}">
                <div class="card-content">
                    <h3>{{ popular.title.romaji }}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="main">
    <div class="content">
        <a href="{{ url_for('score') }}"><h3 class="section-title">Найвище оцінені</h3></a>
        <div class="anime-list">
            {% for score in top_list %}
            <div class="card">
                <img src="{{ score.coverImage.large }}" alt="{{ score.title.romaji }}">
                <div class="card-content">
                    <h3>{{ score.title.romaji }}</h3>
                    <h4>{{ score.averageScore }}/100</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

