{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/top_pages.css') }}">
{% endblock %}

{% block title %}Популярні аніме{% endblock %}

{% block content %}
<div class="main">
    <div class="content">
        <h3 class="section-title">ТОП-50</h3>
        <div class="anime-list">
            {% for popular in popular_list %}
            <div class="card">
                <img src="{{ popular.coverImage.large }}" alt="{{ popular.title.romaji }}">
                <div class="card-content">
                    <h3>{{ popular.title.romaji }}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
